div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}

.table {
  display: flex;
}

.table ul {
  list-style: none;
}

.column-header {
  font-weight: bold;
  border-bottom: 1px solid black;
}
